.todo-bg-container{
    background-color: #f9fbfe;
    font-family: "Lucida Handwriting";
    height: 100vh;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.todos-heading{
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-text{
    font-weight: bold;
}

.tasks-text{
    font-weight: lighter;
}


.todo-user-input{
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 12px;
    margin-top: 10px;
    padding: 15px;
    height: 38px;
}


.add-todo-button{
    color: white;
    background-color: #4c63b6;
    font-size: 18px;
    border-width: 0px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 22px;
}


.my-text{
    font-weight: bold;
}

.checkbox{
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 10px;
    height: 12px;
    width: 12px;

}

.todo-item-container {
    margin-top: 15px;
  }
  

  .label-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    border-width: 5px;
    border-color: #4c63b6;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-color: #e4e7eb;
    height: 38px;
    margin-top: 10px;
    
}

.delete-icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}


.label-text{
    margin: 8px;
    flex: 1;
}