@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.background1 {
    background-color: #12022f;
    min-height: 100vh;
}

.imgdiv {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png');
    min-height: 280px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.img {
    width: 70px;
    height: 70px;
    align-self: center;
    margin-top: 70px;
}

.para1div {
    padding: 15px;
}

.para1 {
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 25px;
}

.background2 {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.img1 {
    width: 75px;
    padding-top: 27px;
    padding-left: 10px;

}

.heading {
    color: #12022f;
    font-family: "Roboto";
    padding-left: 10px;
    font-size: 25px;
}

.para2 {
    color: #7b8794;
    font-family: "Roboto";
    padding-left: 10px;
}

.section {
    display: flex;
    align-items: center;
}

.section-content {
    display: flex;
    flex-direction: column;
}

@media (min-width:768px){
    .background1{
        display: flex;
    }
    
    .imgdiv{
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-lg-bg.png');
        min-width: 50%;
        flex-direction: column;
    }
    
    .background2{
        justify-content: center;
    }
    
    .img{
        margin-top:280px;
        width: 80px;
        height: 80px;
    }
    
    .heading{
        margin-bottom:0px;
        font-size: 26px;
    }
    
    
}