* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.background {
    height: 100vh;
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/robotics-bg.png");
    background-size: cover;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.img {
    width: 100px;
    margin-top: 30px;
}

.Robotics{
    color: #1e3a8a;
    font-family: "Roboto";
    font-size: 56px;
}

.para{
    color: #475569;
    font-family: "Roboto";
    font-size: 24px;
    max-width: 500px;
}