.black-background{
    background-color: black;
}


.bulb-image{
    width: 150px;
}

.cat-image{
    width: 200px;
}


.switch_heading{
    font-size: 30px;
}
.switch-container{
    background-color: lightgray;
    width: 350px;
    border-radius: 12px;
    height: 110px;
    color: aliceblue;
    padding: 8px;
}

.off-button{
    background-color: red;
    width: 80px;
    border-radius: 12px;
    border-width: 0px;
    color: aliceblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.on-button{
    background-color: rgb(133, 133, 133);
    width: 80px;
    border-radius: 12px;
    border-width: 0px;
    color:aliceblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}