.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png');
    width: 100vw;
    height: 50vh;
}

.white-container {
    background-color: white;
}


.heading {
    color: white;
    text-align: center;
    font-family: "Roboto";
}

.input {
    width: 300px;
}

.author-name {
    color: #323f4b;
    font-weight: 500;
    padding-left: 20px;
}

.result {
    font-size: 30px;
    color: #323f4b;
}